.fond {
    position:relative;
     display:flex;
     justify-content: center;
   margin-right: auto;
   margin-left: auto;
} 

.img2 {   
    width : 100%;
    /* height : auto; */
    height: 800px;
    object-fit: cover;
    object-position: center; 
    z-index: 1;
    filter: brightness(40%);
}

.logonet{
    position:absolute;
    margin-top: 40px;
    margin-left: 40px;
    z-index:2;
}

.boutlog{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    position:absolute;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: auto; 
    z-index:4;   
 }


 
